.user {
    display: inline-flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;

    &__photo {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__fallback {
        padding: 8px;
    }
}
