// Imports
@use './../../../styles/utils/variables.scss' as variables;
@use './../../../styles/utils/mixins.scss' as mixins;

// Styles
.user {
    display: inline-flex;
    gap: mixins.sizing( 6 );
    align-items: center;
    justify-content: flex-end;

    &__photo {
        @include mixins.borderRadiusRound;
        width: mixins.sizing( 12 );
        height: mixins.sizing( 12 );
        overflow: hidden;
    }

    &__fallback {
        padding: mixins.sizing( 2 );
        background: variables.$supportColor;
    }
}
