// Imports
@use './../../../styles/utils/mixins.scss' as mixins;

// Styles
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: mixins.sizing( 8 );

    &__logo {
        height: mixins.sizing( 20 );
        height: mixins.sizing( 20 );
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: mixins.sizing( 15 );
        margin: mixins.sizing( 0 )
                auto
                mixins.sizing( 0 )
                mixins.sizing( 15 );
    }

    &__user {
        margin: mixins.sizing( 0 )
                mixins.sizing( 2 )
                mixins.sizing( 0 )
                mixins.sizing( 0 );
    }
}
