// Imports
@use './../../../styles/utils/variables.scss' as variables;
@use './../../../styles/utils/mixins.scss' as mixins;

// Styles
.page {
    padding:    mixins.sizing( 0 )
                mixins.sizing( 43 );

    &__section {
        &--2 {
            position: relative;

            &::before,
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                background: variables.$supportColor;
                opacity: .1;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }
}
