<div class="page">
    <!-- Stats -->
    <snippet-section
        class="page__section page__section--1"
        [padding]="{ desktop: '40px 0 60px', tablet: '40px 0 60px', mobile: '20px 0 40px' }"
    >
        <section-stats></section-stats>
    </snippet-section>
    <!-- ./Stats -->

    <!-- Info Cards -->
    <snippet-section
        class="page__section page__section--2"
        [padding]="{ desktop: '88px 0 164px', tablet: '88px 0 164px', mobile: '60px 0 92px' }"
    >
        <section-info-cards></section-info-cards>
    </snippet-section>
    <!-- ./Info Cards -->

    <!-- Profile CTA -->
    <snippet-section
        class="page__section page__section--3"
        [padding]="{ desktop: '88px 0 96px', tablet: '88px 0 96px', mobile: '60px 0 72px' }"
    >
        <section-profile-cta></section-profile-cta>
    </snippet-section>
    <!-- ./Profile CTA -->
</div>
