// Imports
@use './../../../styles/utils/variables.scss' as variables;
@use './../../../styles/utils/mixins.scss' as mixins;

// Styles
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:    mixins.sizing( 8 )
                mixins.sizing( 43 );
    border-top: mixins.sizing( .25 ) solid variables.$supportColor;

    &__left {
        display: flex;
        gap: mixins.sizing( 5 );
        align-items: center;
        justify-content: flex-start;
    }

    &__logo {
        width: mixins.sizing( 12 );
        height: mixins.sizing( 12 );
    }

    &__right {
        display: flex;
        gap: mixins.sizing( 15 );
        align-items: center;
        justify-content: flex-end;
    }
}